<html>
<head>
    <title>Page not found</title>
</head>
<body>
    <main>
        <center>
            <p>
                <%= message %>
            </p>
        </center>
    </main>
</body>
</html>