<nav>
    <center>
        <a href="/about">About</a> |
        <a href="/blog">Blog</a> |
        <a href="/projects">Projects</a> |
        <a href="https://help.archive.org/">Help</a> |
        <a href="/donate">Donate</a> <b>&lt;3</b> |
        <a href="/contact">Contact</a> |
        <!--<a href="/jobs">Jobs</a> |-->
        <a href="/volunteer">Volunteer</a> |
        <a href="/people">People</a>
    </center>
    <hr>
</nav>