<tr BGCOLOR="#222222">
    <td width="21px"><img src="/ialogo.gif"></td>
    <td valign="middle">
        <b>
            <font face="Times New Roman" size="5" color="#FFFFFF">Internet Archive</font>&nbsp; &nbsp;
        </b>
        <a href="web">WEB</a>&nbsp; &nbsp;
        <a href="#">TEXTS</a>&nbsp; &nbsp;
        <a href="#">VIDEO</a>&nbsp; &nbsp;
        <a href="#">AUDIO</a>&nbsp; &nbsp;
        <a href="#">SOFTWARE</a>&nbsp; &nbsp;
    </td>
</tr>
<tr BGCOLOR="#333333">
    <td align="center" COLSPAN="2">
        <font color="#FFFFFF">
            <a href="#">About</a>&nbsp; &nbsp;
            <a href="#">Blog</a>&nbsp; &nbsp;
            <a href="#">Projects</a>&nbsp; &nbsp;
            <a href="#">Help</a>&nbsp; &nbsp;
            <a href="#">Contact</a>&nbsp; &nbsp;
            <a href="#">Jobs</a>&nbsp; &nbsp;
            <a href="#">Volunteer</a>&nbsp; &nbsp;
            <a href="#">People</a>
        </font>
    </td>
</tr>