<tr BGCOLOR="#222222">
    <td width="21px"><a href="/"><img src="/ialogo.gif"></a></td>
    <td valign="middle">
        <b>
            <font face="Times New Roman" size="5" color="#FFFFFF">Internet Archive</font>&nbsp; &nbsp;
        </b>
        <a href="/web">WEB</a>&nbsp; &nbsp;
        <a href="/details/texts">TEXTS</a>&nbsp; &nbsp;
        <a href="/details/video">VIDEO</a>&nbsp; &nbsp;
        <a href="/details/audio">AUDIO</a>&nbsp; &nbsp;
        <a href="/details/software">SOFTWARE</a>&nbsp; &nbsp;
    </td>
</tr>
<tr BGCOLOR="#333333">
    <td align="center" COLSPAN="2">
        <font color="#FFFFFF">
            <a href="/about">About</a>&nbsp; &nbsp;
            <a href="/blog">Blog</a>&nbsp; &nbsp;
            <a href="/projects">Projects</a>&nbsp; &nbsp;
            <a href="https://help.archive.org/">Help</a>&nbsp; &nbsp;
            <a href="/donate">Contact</a>&nbsp; &nbsp;
            <a href="/contact">Jobs</a>&nbsp; &nbsp;
            <a href="/volunteer">Volunteer</a>&nbsp; &nbsp;
            <a href="/people">People</a>
        </font>
    </td>
</tr>