<tr BGCOLOR="#666666">
    <td COLSPAN="2">
        <center>
            <br>
            <font color="#FFFFFF">Search the history of over 460 billion web pages on the Internet.</font>
            <br>&nbsp;


            <table BORDER="0" CELLSPACING=5 CELLPADDING=5 width="400" height="24" BGCOLOR="#ffffff">
                <tr>
                    <td>
                        <img src="wb.gif">&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td valign="center">

                        <form action="/web" method="get">
                            <font size="2">
                                <br>
                                Enter url or keywords
                            </font>
                            <input type="text" placeholder="Search" name="query">
                            <input type="submit" value="Go" />
                        </form>
                    </td>
                </tr>
            </table>
            <br>
        </center>
    </td>
</tr>