<header>
    <table>
        <tr>
            <th>
                <a href="/">_--'--_<br>
                ======= Internet<br>
                | | | | Archive<br>
                | | | |<br>
                =======</a>
            </th>

            <th><a href="/web">Web</a> |
                Texts |
                Video |
                Audio |
                Software
                <!--
                <a href="#">Texts</a> |
                <a href="#">Video</a> |
                <a href="#">Audio</a> |
                <a href="#">Software</a>
                -->
            </th>
        </tr>
    </table>
    <hr>
</header>