<html>
<head>
    <title>Contact the Internet Archive</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h1>Contacts at the Internet Archive</h1>
        <p><strong>Internet Archive</strong><br>
            300 Funston Avenue<br>
            San Francisco, CA 94118</p>
        <p><strong>Tel:</strong> 415-561-6767 (administrative office line, see below for technical questions)</p>
        <p><strong>Fax:</strong> 415-840-0391</p>
        <p>Tours and Open most Friday afternoons 1:15pm and by appointment.</p>
        <p><a>Directions to the Internet Archive</a></p>
        <br>

        <p><strong>If you have questions, please check our:</strong></p>
        <ul>
            <li><a href="https://help.archive.org/">Help Center</a></li>
            <li><a href="https://archive.org/iathreads/forums.php">Forums</a></li>
            <li><a href="https://archive.org/services/docs/api/">Developer Portal</a></li>
        </ul>
        <p>If you cannot find your answer in the resources above, please email <a href="mailto:info@archive.org">info@archive.org</a></p>
        <p>(Please enable email from @archive.org if you use any filtering devices!)</p>
        <br>

        <p><strong>To make a donation:</strong></p>
        <ul>
            <li><a href="https://archive.org/donate/">Donate Money</a></li>
            <li><a href="https://help.archive.org/help/how-do-i-make-a-physical-donation-to-the-internet-archive/">Donate Physical Objects</a></li>
            <li><a href="https://help.archive.org/help/category/archive-org/uploading/">Donate Digital Files</a></li>
        </ul>
        <br>

        <p><strong>Also available:</strong></p>
        <ul>
            <li><a href="https://blog.archive.org/category/announcements/">Announcements</a></li>
            <li><a href="https://blog.archive.org/">What's New at the Internet Archive</a></li>
            <li><a href="https://mastodon.archive.org/@internetarchive">Mastodon</a></li>
            <li><a href="https://twitter.com/internetarchive">Twitter</a></li>
            <li><a href="https://www.facebook.com/internetnetarchive">Facebook</a></li>
        </ul>
        <br>

        <p><strong>Parking:</strong></p>
        <p>There are free, 2-hour street parking spots on Funston and the surrounding streets as well as metered parking on Clement. For a map of all-day, paid lots in the area: <a href="https://archive.org/details/internetarchiveparking_201910">Parking Map</a></p>
        <%- include('partials/map') %>

        <h2>Directions to the Internet Archive</h2>
        <ul>
            <li><a>Mass Transit Within San Francisco</a></li>
            <li><a>Driving From the North Bay</a></li>
            <li><a>Driving From the East Bay</a></li>
            <li><a>From the South Bay via 280</a></li>
            <li><a>From the South Bay via 101</a></li>
        </ul>
        <br>

        <h3>Mass Transit Within San Francisco</h3>

        <p>Our area is served by San Francisco <a href="https://www.sfmta.com/">MUNI</a> bus routes. The following links listed below will take you to the different MUNI routes; please select the most convenient route, click to see the schedule &amp; map. <a href="https://www.sfmta.com/trip-planner">SFMTA Trip Planner</a> is also a useful resource</p>
        <p><a href="https://www.sfmta.com/routes/1-california">1 - California</a>: Inbound toward Downtown. Outbound toward Richmond district. Board at Davis St &amp; Pine St. Ask the driver to let you off at the corner of California St. &amp; Park Presidio Blvd. Turn left on Park Presidio Blvd. toward Geary Blvd. Turn left at Clement St., turn right at Funston Ave. Destination will be on the left.</p>
        <p><a href="https://www.sfmta.com/routes/1ax-california-express-suspended">1AX - California 'A' Express</a>: Inbound toward Financial district for morning rush hour. Outbound toward Outer Richmond district for afternoon rush hour. Get off at the corner of California St. &amp; Park Presidio Blvd. Turn left on Park Presidio Blvd. toward Geary Blvd. Turn left at Clement St., turn right at Funston Ave. Destination will be on the left.</p>
        <p><a href="https://www.sfmta.com/routes/1bx-california-b-express-suspended">1BX - California 'B' Express</a>: Inbound toward Financial district for morning rush hour. Outbound toward Outer Richmond district for afternoon rush hour. Get off at the corner of California St. &amp; Park Presidio Blvd. Turn left on Park Presidio Blvd. toward Geary Blvd. Turn left at Clement St., turn right at Funston Ave. Destination will be on the left.</p>
        <p><a href="https://www.sfmta.com/routes/38r-geary-rapid"><strong>38R - Geary Rapid</strong></a>: (same directions as a Route 38, but this route has limited bus stops, and it is faster). Ask the driver to let you off at the corner of Geary Blvd. &amp; Park Presidio Blvd. Head east on Geary (towards downtown) and turn left at Funston Ave. Destination will be at the end of the block on the right.</p>
        <p><a href="https://www.sfmta.com/routes/38-geary">38 - Geary</a>: Ask the driver to let you off at the corner of Geary Blvd. &amp; Park Presidio Blvd. Head east on Geary (towards downtown) and turn left at Funston Ave. Destination will be at the end of the block on the right.</p>
        <p><a href="https://www.sfmta.com/routes/28-19th-avenue">28 - 19th Ave</a>: Ask the driver to let you off at the corner of Geary Blvd. &amp; Park Presidio Blvd. Head east on Geary (towards downtown) and turn left at Funston Ave. Destination will be at the end of the block on the right.</p>
        <p>From the south bay on <a href="https://www.caltrain.com/?active_tab=route_explorer_tab">CalTrain</a>: Board the bus route #30 on Townsend St. &amp; 4th St. Depart at 3rd St. &amp; Market St. Then board bus route # 38 or #38R on Geary Blvd &amp; Kearny St. Ask the driver to let you off at the corner of Geary Blvd &amp; Park Presidio Blvd. Head east on Geary (towards downtown) and turn left at Funston Ave. Destination will be at the end of the block on the right.</p>
        <p>From <a href="https://www.bart.gov/">BART</a>, get off at Montgomery Street station and take the 38 Geary (see above)</p>
        <br>

        <h3>Driving From the North Bay</h3>

        <p>
            Take highway US-101 South across Golden Gate Bridge (Toll applies).<br>
            Continue on US-101 south, go 0.3 miles.<br>
            Take the 19th Ave. /Golden Gate Park exit onto CA-1 South, go 1.3 miles<br>
            Turn Right on Lake St.<br>
            Turn Left on 14TH Ave, go 0.3 miles<br>
            Turn Left on Clement St, go 0.1 miles<br>
            Turn Right on Funston Ave.<br>
            Arrive at 300 Funston Ave, San Francisco, on the Left<br>
            There is metered parking on Clement and 2-hour parking on Funston and parallel avenues (please also note street cleaning times).<br>
        </p>

        <h3>Driving From the East Bay</h3>
        <p>
            Take Interstate 80 west over the Bay Bridge.<br>
            Take the Golden Gate Bridge exit onto US-101 North, go 1.1 miles<br>
            Continue on Octavia Blvd, go 0.30 miles<br>
            Turn Left on Fell St, go 0.6 miles<br>
            Turn Right on Scott Ave, go 0.1 miles<br>
            Turn Left on Hayes St, go 0.1 miles<br>
            Turn Right on Divisadero Ave, go 0.6 miles<br>
            Turn Left on Geary Blvd, go 1.8 miles<br>
            Turn Right on Funston Ave, go 0.1 miles<br>
            Arrive at 300 Funston Ave. San Francisco, on the Right<br>
            There is metered parking on Clement and 2-hour parking on Funston and parallel avenues (please also note street cleaning times).<br>
        </p>


        <h3>From the South Bay via 280</h3>
        <p>
            Take Interstate 280 north to San Francisco<br>
            When Interstate 280 splits into Route 1 and 280, veer left, onto Highway 1 (19th Avenue).<br>
            Follow Highway 1 (19th Avenue) north across San Francisco and through Golden Gate Park.<br>
            Turn Right on Clement St.<br>
            Turn Right on Funston Ave.<br>
            Arrive at 300 Funston Ave. San Francisco on the Left<br>
            There is metered parking on Clement and 2-hour parking on Funston and parallel avenues (please also note street cleaning times).<br>
        </p>


        <h3>From the South Bay via 101</h3>

        <p>
            When Highway 101 splits into the Highway 80/Bay Bridge and Highway 101/Golden Gate Bridge approaches, veer left, onto Highway 101.<br>
            Follow the 101 north/Golden Gate Bridge turnoff<br>
            Continue on Octavia Blvd, go 0.3 Miles.<br>
            Turn Left on Fell St, go 0.6 miles<br>
            Turn Right on Scott Ave, go 0.1 miles<br>
            Turn Left on Hayes St, go 0.1 miles<br>
            Turn Right on Divisadero Ave, go 0.6 miles<br>
            Turn Left on Geary Blvd, go 1.8 miles<br>
            Turn Right on Funston Ave, go 0.1 miles<br>
            Arrive at 300 Funston Ave. San Francisco, on the Right<br>
            There is metered parking on Clement and 2-hour parking on Funston and parallel avenues (please also note street cleaning times).<br>
        </p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>