<html>
<head>
    <title>Internet Archive</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h1>A Message from Internet Archive Founder, Brewster Kahle</h1>

        <p>
            Dear lynx user,
        </p>

        <p>For more than two and a half decades, we have collected, preserved, and shared our digital cultural artifacts. Thanks to the generosity of our patrons, the Internet Archive has grown from a small preservation project into a vast library that serves millions of people each year. Our work has impacted the lives of so many of our users who value free and open access to information.</p>

        <p>From the beginning, it was important for the Internet Archive to be a nonprofit, because it was working for the people. Its motives had to be transparent; it had to last a long time. That's why we don't charge for access, sell user data, or run ads, even while we offer free resources to citizens everywhere. We rely on the generosity of individuals like you to pay for servers, staff, and preservation projects.</p>

        <p>If you can't imagine a future without the Internet Archive, please consider supporting our work. We promise to put your donation to good use as we continue to store over 99 petabytes of data, including 625 billion webpages, 38 million texts, and 14 million audio recordings.</p>

        <p>If you find our site useful, please chip in! Your support will help us build the web we deserve.</p>

        <p>Thank you for joining me.</p>

        <p>
            <i>Brewster Kahle<br>
                Founder &amp; Digital Librarian
            </i>
        </p>
        <p>
            Please make a tax-deductible donation now.<br>You will receive
            an email confirmation that can be used for your tax records.<br>The
            Internet Archive is a California non-profit charity that is
            tax-exempt under section 501c3 of the Internal Revenue Code. Federal
            Tax ID Number 94-3242767.
        </p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>