<html>
<head>
    <title>About the Internet Archive</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h1>About the Internet Archive</h1>

        <p>The Internet Archive, a 501(c)(3) non-profit, is building a digital library of Internet sites and other cultural artifacts in digital form. Like a paper library, we provide free access to researchers, historians, scholars, people with print disabilities, and the general public. Our mission is to provide Universal Access to All Knowledge.</p>
        <p>We began in 1996 by archiving the Internet itself, a medium that was just beginning to grow in use. Like newspapers, the content published on the web was ephemeral - but unlike newspapers, no one was saving it. Today we have 28+ years of web history accessible through the <a href="https://web.archive.org/">Wayback Machine</a> and we work with 1,200+ library and other partners through our <a href="https://archive-it.org/">Archive-It</a> program to identify important web pages.</p>
        <p>As our web archive grew, so did our commitment to providing digital versions of other published works. Today our archive contains:</p>
        <ul>
            <li>835 billion <a href="https://web.archive.org/">web pages</a></li>
            <li>44 million <a href="https://archive.org/details/texts">books and texts</a></li>
            <li>15 million <a href="https://archive.org/details/audio">audio recordings</a> (including 255,000 live concerts)</li>
            <li>10.6 million <a href="https://archive.org/details/movies">videos</a> (including 2.6 million <a href="https://archive.org/details/tv">Television News programs</a>)</li>
            <li>4.8 million <a href="https://archive.org/details/image">images</a></li>
            <li>1 million <a href="https://archive.org/details/software">software programs</a></li>
        </ul>
        <p>Anyone with a <a href="https://archive.org/account/signup">free account</a> can <a href="https://archive.org/upload/">upload media</a> to the Internet Archive. We work with thousands of partners globally to save copies of their work into special collections.</p>
        <p>Because we are a library, we pay special attention to books. Not everyone has access to a public or academic library with a good collection, so to provide universal access we need to provide digital versions of books. We began a program to digitize books in 2005 and today we scan 4,400 books per day in 20 locations around the world. Books published in or prior to 1928 are available for download, and hundreds of thousands of <a href="https://openlibrary.org/subjects/in_library#ebooks=true&amp;sort=edition_count">modern books can be borrowed</a> through our <a href="https://openlibrary.org/">Open Library</a> site. One of the Internet Archive's missions is to serve people who have difficulty interacting with physical books, so most of our digitized books are available to <a href="https://openlibrary.org/subjects/protected_daisy#ebooks=true&amp;sort=edition_count">people with print disabilities</a> (learn about access <a href="https://archive.org/details/printdisabled&amp;tab=about">here</a>).</p>
        <p>Like the Internet, television is also an ephemeral medium. We began archiving television programs in late 2000, and our first public TV project was an archive of <a href="https://archive.org/details/911/day/20010911">TV news surrounding the events of September 11, 2001</a>. In 2009 we began to make selected U.S. television news broadcasts searchable by captions in our <a href="https://archive.org/details/tv">TV News Archive</a>. This service allows researchers and the public to use television as a citable and sharable reference.</p>
        <p>The Internet Archive serves millions of people each day and is one of the top 300 web sites in the world. A single copy of the Internet Archive library collection occupies 145+ Petabytes of server space -- and we store at least 2 copies of everything). We are funded through <a href="https://archive.org/donate">donations</a>, grants, and by providing web archiving and <a href="https://archive.org/scanning">book digitization services</a> for our partners. As with most libraries we value the <a href="https://blog.archive.org/2013/10/25/reader-privacy-at-the-internet-archive/">privacy of our patrons</a>, so we avoid keeping the IP (Internet Protocol) addresses of our readers and offer our site in https (secure) protocol.</p>
        <p>You can find information about our projects on our <a href="https://blog.archive.org/">blog</a> (including important <a href="https://blog.archive.org/category/announcements/">announcements</a>), <a href="https://archive.org/about/contact">contact us</a>, buy swag in our <a href="https://store.archive.org/">store</a>, and follow us on <a href="https://twitter.com/internetarchive">Twitter</a> and <a href="https://www.facebook.com/internetnetarchive/">Facebook</a>. Welcome to the library!</p>
        <h2>Generous funding has come from Foundations including:</h2>
        <ul>
            <li><a href="https://mellon.org/">Andrew W. Mellon Foundation</a></li>
            <li><a href="https://www.clir.org/">Council on Library and Information Resources</a></li>
            <li><a href="https://democracyfund.org/">Democracy Fund</a></li>
            <li><a href="https://www.fcc.gov/general/universal-service-program-schools-and-libraries-e-rate">Federal Communications Commission Universal Service Program for Schools and Libraries (E-Rate)</a></li>
            <li><a href="https://www.imls.gov/">Institute of Museum and Library Services (IMLS)</a></li>
            <li><a href="https://www.knightfoundation.org/">Knight Foundation</a></li>
            <li><a href="https://www.arnoldventures.org/">Laura and John Arnold Foundation</a></li>
            <li><a href="https://www.neh.gov/divisions/odh">National Endowment for the Humanities, Office of Digital Humanities</a></li>
            <li><a href="https://www.nsf.gov/">National Science Foundation</a></li>
            <li><a href="https://pclbfoundation.org/">The Peter and Carmen Lucia Buck Foundation</a></li>
            <li><a href="https://www.philafound.org/">The Philadelphia Foundation</a></li>
            <li><a href="https://ritaallen.org/">Rita Allen Foundation</a></li>
        </ul>
        <h2>The Internet Archive is a member of:</h2>
        <ul>
            <li><a href="https://www.ala.org/">American Library Association (ALA)</a></li>
            <li><a href="https://arsc-audio.org/">Association for Recorded Sound Collections (ARSC)</a></li>
            <li><a href="https://www.biodiversitylibrary.org/">Biodiversity Heritage Library (BHL)</a></li>
            <li><a href="https://blc.org/">Boston Library Consortium (BLC)</a></li>
            <li><a href="https://califa.org/">Califa</a></li>
            <li><a href="https://www.clir.org/">Council on Library and Information Resources (CLIR)</a></li>
            <li><a href="https://www.cni.org//">Coalition for Networked Information (CNI)</a></li>
            <li><a href="https://www.diglib.org/">Digital Library Federation (DLF)</a></li>
            <li><a href="https://www.dpconline.org/">Digital Preservation Coalition (DPC)</a></li>
            <li><a href="https://dp.la/">Digital Public Library of America (DPLA)</a></li>
            <li><a href="https://www.ifla.org/">International Federation of Library Associations and Institutions (IFLA)</a></li>
            <li><a href="https://netpreserve.org/">International Internet Preservation Consortium (IIPC)</a></li>
            <li><a href="https://www.musiclibraryassoc.org/">Music Library Association</a></li>
            <li><a href="https://ndsa.org/">National Digital Stewardship Alliance (NDSA)</a></li>
            <li><a href="https://projectreshare.org/">ReShare</a></li>
        </ul>
    </main>

    <%- include('partials/footer') %>
</body>
</html>