<html>
<head>
    <title>Page not found</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <center>
            <p>
                <%= message %>
            </p>
        </center>
    </main>
    <%- include('partials/footer') %>
</body>
</html>