<html>
<head>
    <title>Internet Archive</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h1>Bios</h1>
        <h3>Board of Directors</h3>

        <p><strong>Brewster Kahle</strong> <em>Board Chair</em></p>
        <p>A passionate advocate for public Internet access and a successful entrepreneur, Brewster Kahle has spent his career intent on a singular focus: providing Universal Access to All Knowledge. He is the founder and Digital Librarian of the Internet Archive, one of the largest libraries in the world. Soon after graduating from the Massachusetts Institute of Technology where he studied artificial intelligence, Kahle helped found the company Thinking Machines, a parallel supercomputer maker. In 1989, Kahle created the Internet's first publishing system called Wide Area Information Server (WAIS), later selling the company to AOL. In 1996, Kahle co-founded Alexa Internet, which helps catalog the Web, selling it to Amazon.com in 1999. The Internet Archive, which he founded in 1996, now preserves 99+ petabytes of data - the books, Web pages, music, television, and software of our cultural heritage, working with more than 400 library and university partners to create a digital library, accessible to all.</p>
        <hr>


        <p><strong>Rick Prelinger</strong> <em>Board President</em></p>
        <p>Rick Prelinger <a href="https://www.panix.com/~footage/">prelinger.com</a>, an archivist, writer and filmmaker, founded Prelinger Archives, whose collection of 51,000 advertising, educational, industrial, and amateur films was acquired by the Library of Congress in 2002 after 20 years' operation. Rick has partnered with the Internet Archive to make <a href="https://archive.org/details/prelinger">2,000 films from Prelinger Archives</a> available online for free viewing, downloading and reuse. With the Voyager Company, a pioneer new media publisher, he produced fourteen laserdiscs and CD-ROMs with material from his archives, including "Ephemeral Films," the "Our Secret Century" series and "Call It Home: The House That Private Enterprise Built," a laserdisc on the history of suburbia and suburban planning. Rick has taught in the MFA Design program at New York's School of Visual Arts and lectured widely on American cultural and social history and on issues of cultural and intellectual property access. He sits on the National Film Preservation Board as representative of the Association of Moving Image Archivists and is Board President of the Internet Archive and also the San Francisco Cinematheque. His feature-length film "Panorama Ephemera," depicting the conflicted landscapes of 20th-century America, opened in summer 2004. He is co-founder of the <a href="https://prelingerlibrary.org/home/">Prelinger Library</a>, an appropriation-friendly reference library located in San Francisco.</p>
        <hr>

        <p><strong>Kathleen Burch</strong></p>
        <p>Kathleen Burch has decades of experience in non-profit management, strategic thinking, and community activation, all to serve her passion and commitment to universal literacy and book publishing.</p>
        <p>After studies at Mills College in Oakland in English Literature and and graduate work in the Book Arts department, she founded a type &amp; design studio and collaborated with an independent publishing house, Burning Books, both of which thrived in San Francisco throughout the eighties.</p>
        <p>An understanding of the community's needs, along with her value for arts organizations, book arts and social entrepreneuring, drove Burch to go on to co-found the <a href="https://sfcb.org/">San Francisco Center for the Book</a> in 1996. She now serves as its board vice-chair and on the executive committee in perpetuity. Besides sitting on several other community-based boards, she also chaired the board of Pro Arte Libri, an international arts organization devoted to the art of fine bookmaking.</p>
        <p>She has practiced symbolic communication through typographic languages since 1974, publishing the works of big thinkers such as John Cage, Robert Ashley, Yoko Ono, Laurie Anderson, and her own work on game theory and the culture of card-playing, with recent studies in the Visual Criticism department at California College of Art in San Francisco. Her work with Burning Books was the subject of a retrospective exhibition at Mills College in 1996. She was a Xerox PARC artist-in-residence in 2000.</p>
        <hr>

        <p><strong>David Rumsey</strong></p>
        <p>David Rumsey is President of Cartography Associates, a digital publishing company based in San Francisco, and Chairman of <a href="https://www.lunaimaging.com/">Luna Imaging</a>, a provider of software for online image collections. Rumsey's collection of historical maps numbers over 150,000 cartographic items and is one of the largest private map collections in the United States. In 2002, he received a Webby Award for Technical Achievement and an Honors Award from the Special Libraries Association for providing free public access to his private map collection at the <a href="https://www.davidrumsey.com/">David Rumsey Map Collection</a>.</p>
        <p>Rumsey received his BA and MFA from Yale University where he was a lecturer in art and a founding member of Yale Research Associates in the Arts, a group of artists working with electronic technologies. He serves on the boards of the <a href="https://longnow.org/">Long Now Foundation</a>, <a href="https://jcblibrary.org/">John Carter Brown Library</a>, Advisory Board to <a href="https://library.stanford.edu/">Stanford University Library</a>, and is a trustee of <a href="https://web.library.yale.edu/development">Yale Library Associates</a> and the <a href="https://www.kressfoundation.org/">Samuel H. Kress Foundation</a>.</p>
        <p>Rumsey has lectured widely regarding his online library work, including talks at the Library of Congress, New York Public Library, Digital Library Federation, Stanford University, Harvard University, and at conferences in the U.S., Hong Kong, Mexico, Japan, United Kingdom, and Germany. He has contributed to several publications on cartography and the advent of <a href="https://www.davidrumsey.com/gis/ch01.pdf">GIS</a>. In 2005 ESRI Press published his book <a href="https://www.davidrumsey.com/publications/cartographica">Cartographica Extraordinaire</a>. Recently, Rumsey has been creating historical map projects both in <a href="https://googleblog.blogspot.com/2006/11/old-world-meets-new-on-google-earth.html">Google Earth</a> and the virtual world of <a href="https://www.davidrumsey.com/view/second-life">Second Life</a>.</p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>