<html>
<head>
    <title>Internet Archive</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main>
        <h1>Volunteer Positions</h1>
        <p>We could always use a hand- we can't ensure universal access to all knowledge without your help. Whether it's helping Open Library update their UI, setting up A/V equipment at Internet Archive events, or helping the Wayback Machine archive even more of the internet, you will have a permanent impact on our goal of free access to all information for everyone.</p>
        <p>When you volunteer for the Internet Archive, you get behind-the-scenes access to a non-profit workplace with a big mission. You'll get to work with a wide variety of people, ranging from Archive staff to fellow volunteers from all walks of life. You'll be able to refine your networking, event planning, and team building skills while having fun, meeting new people, and attending Archive events.</p>
        <h2>Volunteer as an Open Library Developer</h2>
        <p>Learn how to contribute, find easy tasks, look at our roadmap, and ask to join our community slack chat!</p>
        <p><a href="https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md">Getting Started with our Github</a></p>
        <p><a href="https://github.com/internetarchive/openlibrary/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22">Good First Issues</a></p>
        <p><a href="https://openlibrary.org/volunteer">Join the Open Library Slack Channel</a></p>
        <h2>Volunteering as an Open Librarian</h2>
        <p>Want to make sure Open Library's data is pristine?</p>
        <p><a href="https://openlibrary.org/about/lib">Learn about our standards</a></p>
        <p><a href="https://github.com/internetarchive/openlibrary-client">Write bots to merge and fix catalog records</a></p>
        <h2>Volunteer at Special Events</h2>
        <p>Would you like to help the Internet Archive out with some of our events?</p>
        <p>Volunteers are essential during our special events. We host around 30+ events annually, and volunteers provide crucial support by engaging with guests, assisting with set-up and break down, A/V support, and other exciting opportunities. Volunteers are expected to be punctual and reliable and be flexible and cooperative with staff, guests, and other volunteers. The majority of our events are held in the San Francisco Bay Area, mostly at our headquarters in San Francisco.</p>
        <p>[ Due to COVID-19 closures, we are temporarily suspending Special Event Volunteer applications. Please check back with us soon! ]</p>
    </main>

    <%- include('partials/footer') %>
</body>
</html>