        <table BGCOLOR="#222222" BORDER="0" CELLSPACING=0 CELLPADDING=6 width="100%" height="24">
            <tr>
                <td width="21"><img src="ialogo.png"></td>
                <td valign="middle">
                    <b>
                        <font face="Times New Roman" size="6" color="#FFFFFF">Internet Archive</font>&nbsp; &nbsp;
                    </b>

                </td>
                <td align="right">Upload</td>
            </tr>
        </table>
        <table BGCOLOR="#222222" BORDER="0" CELLSPACING=0 CELLPADDING=6 width="100%">
            <tr>
                <td align="center">
                    <font size="1">
                        <a href="#">WEB</a>&nbsp; &nbsp;
                        <a href="#">TEXTS</a>&nbsp; &nbsp;
                        <a href="#">VIDEO</a>&nbsp; &nbsp;
                        <a href="#">AUDIO</a>&nbsp; &nbsp;
                        <a href="#">SOFTWARE</a>
                    </font>
                </td>
            </tr>
        </table>