        <tr>
            <td width="21"><a href="/"><img src="/ialogo.gif"></a></td>
            <td valign="middle">
                <b>
                    <font face="Times New Roman" size="6" color="#FFFFFF">Internet Archive</font>&nbsp; &nbsp;
                </b>

            </td>
        </tr>
        <tr>
            <td align=center colspan=2>
                <font size="1">
                    <a href="#">WEB</a>&nbsp; &nbsp;
                    <a href="#">TEXTS</a>&nbsp; &nbsp;
                    <a href="#">VIDEO</a>&nbsp; &nbsp;
                    <a href="#">AUDIO</a>&nbsp; &nbsp;
                    <a href="#">SOFTWARE</a>
                </font>
            </td>
        </tr>