        <table BORDER="0" CELLSPACING=0 CELLPADDING=5 width="100%">
            <tr BGCOLOR="#333333">
                <td align="center">
                    <font color="#FFFFFF">
                        <a href="#">About</a>&nbsp; &nbsp;
                        <a href="#">Blog</a>&nbsp; &nbsp;
                        <a href="#">Projects</a>&nbsp; &nbsp;
                        <a href="#">Help</a>&nbsp; &nbsp;
                        <a href="#">Contact</a>&nbsp; &nbsp;
                        <a href="#">Jobs</a>&nbsp; &nbsp;
                        <a href="#">Volunteer</a>&nbsp; &nbsp;
                        <a href="#">People</a>
                    </font>
                </td>
            </tr>
        </table>