            <tr BGCOLOR="#333333">
                <td align="center" colspan=2>
                    <a href="#">About</a>&nbsp; &nbsp;
                    <a href="#">Blog</a>&nbsp; &nbsp;
                    <a href="#">Projects</a>&nbsp; &nbsp;
                    <a href="#">Help</a>&nbsp; &nbsp;
                    <a href="#">Contact</a>&nbsp; &nbsp;
                    <a href="#">Jobs</a>&nbsp; &nbsp;
                    <a href="#">Volunteer</a>&nbsp; &nbsp;
                    <a href="#">People</a>
                </td>
            </tr>