                    <br>&nbsp;
                        <table BORDER="0" CELLSPACING=5 CELLPADDING=5 width="400" height="24" BGCOLOR="#ffffff">
                            <tr>
                                <td>
                                    <center><img src="wb.gif"></center>
                                </td>
                            </tr>
                            <tr>
                                <td valign="center">
                                    <form>
                                        <font size="2">
                                            Enter url or keywords
                                        </font>
                                        <input type="text" />
                                        <input type="submit" name="Go">
                                    </form>
                                </td>
                            </tr>
                        </table>
                        <br>