<table style="border:none" cellspacing="0">
    <tr>
        <td style="background-color:#222222; margin:0">
            <img style="margin:0" src="/ia.gif" />
        </td>
    </tr>
    <tr>
        <td style="background-color:#666666; font-size: x-small; margin:0; text-align:center; ">
            <a href="#">WEB</a>&nbsp;
            <a href="#">TEXTS</a>&nbsp;
            <a href="#">VIDEO</a>&nbsp;
            <a href="#">AUDIO</a>&nbsp;
            <a href="#">SOFTWARE</a>
        </td>
    </tr>
</table>