<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card id="card1" title="Internet Archive">
        <p align="center">
            <img src="/img/ia.<%= imgFormat %>" alt="Internet Archive" />

        </p>
        <p>
            Internet Archive is a non-profit library of millions of free texts, movies, software, music, websites, and more.<br />
            <a href="/feed/orf">News</a><br />
            <a href="/feed/sport">Sport</a><br />
            <a href="/verkehr">&#214;3 Verkehr</a><br />
            <a href="/feed/oe3">&#214;3 News</a><br />
            <a href="/ua">ua</a><br />
        </p>

        <p align="center">
            <img src="/img/ia.<%= imgFormat %>" alt="Internet Archive" />

        </p>
    </card>
    <card id="card2" title="Archive Search">
    </card>
    <card id="wm" title="WapBackMachine">
        <p align="center">
            <img src="/img/wpbm.<%= imgFormat %>" alt="WapBackMachine" />
        </p>
    </card>
</wml>